.portfolio {
    display: none;
    position: relative;
    width: 80%;
    margin: 0 auto; 
    height: 100vh;
    margin-top: 105vh;
    text-align: center;
    .info {
        .line {
            width: 100px;
            height: 2px;
            border-radius: 2.5px;
            background: #fff;
            margin-top: 10px;
            margin: 0 auto;
        }
        width: 100%;
        height: auto;
        text-align: center;
        h4 {
            font-size: 22px;
            font-weight: 300;
        }
    }
    .boxes {
        margin-top: 55px;
        margin-bottom: 55px;
        .box {
            width: 31.77%;
            height: 180px;
            background: #fff;
            display: inline-block;
            margin-top: 20px;
            position: relative;
            cursor: pointer;
            .layer {
                display: none;
                width: 100%;
                height: 100%;
                background: rgba(5, 5, 5, .85);
                position: absolute;
                h1 {margin-top: 20%;}
                p{display: none;}
            }
            &:nth-child(2), &:nth-child(5) {
                margin: 0px 20px;
            }
            &:nth-child(1) {
                background: url(../assets/web1.png);background-size: 100%;
                transition: .33s;
                &:hover {
                    .layer {display: block;}
                }
            }
            &:nth-child(2) {
                background: url(../assets/web2.png);background-size: 100%;
                &:hover {
                    .layer {display: block;}
                }
            }
            &:nth-child(3) {
                background: url(../assets/web3.png);background-size: 100%;
                &:hover {
                    .layer {display: block;}
                }
            }
            &:nth-child(4) {
                background: url(../assets/web4.png);background-size: 100%;
                &:hover {
                    .layer {display: block;}
                }
            }
            &:nth-child(5) {
                background: url(../assets/web7.png);background-size: 100%;
                &:hover {
                    .layer {display: block;}
                }
            }
            &:nth-child(6) {
                background: url(../assets/web6.png);background-size: 100%;
                &:hover {
                    .layer {display: block;}
                }
            }
        }
    }
    .upper {
        width: 45px; height: 45px;
        border-radius: 50%;
        background: #fff;
        cursor: pointer;
        margin: 0 auto;
        -webkit-animation: shake-vertical 5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both infinite;
        animation: shake-vertical 5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both infinite;
        .fa-angle-double-up {
            font-size: 25px;
            color: #000;
            padding-top: 9px;
        }
        &:hover {
            .fa-angle-double-up{color: #00B0FF;}
            animation: none;
            -webkit-animation: none;
        }
    }
}

 @-webkit-keyframes shake-vertical {
    0%,
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateY(8px);
              transform: translateY(8px);
    }
    80% {
      -webkit-transform: translateY(6.4px);
              transform: translateY(6.4px);
    }
    90% {
      -webkit-transform: translateY(-6.4px);
              transform: translateY(-6.4px);
    }
  }
  @keyframes shake-vertical {
    0%,
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateY(8px);
              transform: translateY(8px);
    }
    80% {
      -webkit-transform: translateY(6.4px);
              transform: translateY(6.4px);
    }
    90% {
      -webkit-transform: translateY(-6.4px);
              transform: translateY(-6.4px);
    }
  }
  